Repository UMC-CommonPlant/CommonPlant-Server-Refactoring, pull requests merged in 2023-08, with the labels that each got.

#16 [Fix] FCM Config 수정
  src/main/java/com/umc/commonplant/global/config/FCMConfig.java
Labels: docs :scroll:, 벤티 :coffee:, global :earth_asia:

#19 [Feat] Firebase Cloud Messaging API 초기 설정
  build.gradle
  src/main/java/com/umc/commonplant/domain/alarm/controller/AlarmController.java
  src/main/java/com/umc/commonplant/domain/alarm/dto/FCMMessageDto.java
  src/main/java/com/umc/commonplant/domain/alarm/dto/FCMMessageTestDto.java
  src/main/java/com/umc/commonplant/domain/alarm/entity/Alarm.java
  src/main/java/com/umc/commonplant/domain/alarm/service/AlarmService.java
  src/main/java/com/umc/commonplant/domain/alarm/service/FCMService.java
Labels: feat :arrow_double_up:, 벤티 :coffee:, Alarm :bell:

#27 Feat/#18 place
  build.gradle
  src/main/java/com/umc/commonplant/domain/belong/entity/BelongRepository.java
  src/main/java/com/umc/commonplant/domain/place/controller/PlaceContoller.java
  src/main/java/com/umc/commonplant/domain/place/dto/PlaceDto.java
  src/main/java/com/umc/commonplant/domain/place/entity/Place.java
  src/main/java/com/umc/commonplant/domain/place/entity/PlaceRepository.java
  src/main/java/com/umc/commonplant/domain/place/service/PlaceService.java
  src/main/java/com/umc/commonplant/global/exception/ErrorResponseStatus.java
  src/main/java/com/umc/commonplant/global/utils/openAPI/OpenApiService.java
  src/main/java/com/umc/commonplant/global/utils/openAPI/PlaceInfo.java
  src/main/java/com/umc/commonplant/global/utils/openAPI/TransLocalPoint.java
Labels: feat :arrow_double_up:, 오베 🐻, Place :1st_place_medal:
